<nav class="navbar ">
  <div class="container navbar-wrap">
    <div class="logo">
      <a href="index.html">
        <img
          src="../assets/images/logo-white.png"
          alt="icon"
        />
      </a>
    </div>
    <ul class="nav-list">
      <li class="navbar-item"><a href="products.html">系列鏡框</a></li>
      <li class="navbar-item"><a href="stores.html">門市據點</a></li>
      <li class="navbar-item"><a href="blog.html">部落格</a></li>
      <li class="navbar-item"><a href="faq.html">常見問題</a></li>
    </ul>
  </div>
</nav>

