footer {
  @include bg-primary;
}

.footer-section1 {
  @include flex-space-between;
  padding: $spacing-12 0 $spacing-8 0;
  color: white;

  @include mobile {
    padding: $spacing-6 0;
  }
}

.footer-section1 a {
  color: white;
}

.contact {
  font-size: 36px;

  @include mobile {
    font-size: 16px;
  }
}

.footer-sitemap {
  display: flex;
  font-size: 16px;
  margin-bottom: $spacing-9;

  @include mobile {
    display: none;
  }
}

.footer-sitemap li {
  margin-right: 48px;
  font-size: 16px;
}

.footer-social-media-list {
  display: flex;
}

.footer-icon {
  width: 48px;
  height: 48px;
  vertical-align: middle;

  @include pad {
    width: 40px;
    height: 40px;
  }

  @include mobile {
    width: 24px;
    height: 24px;
  }
}

.icon-mr-32 {
  margin-right: 32px;

  @include pad {
    margin-right: 16px;
  }

  @include mobile {
    margin-right: 8px;
  }
}

.contact-icon {
  font-size: 48px;
  margin-right: 22px;
  vertical-align: text-top;

  @include mobile {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: text-top;
  }
}

.footer-section2 {
  @include flex-space-between;
  flex-wrap: wrap;
  padding-top: $spacing-8;
  padding-bottom: $spacing-8;
  border-top: 1px solid white;
}

.copyright {
  font-size: 16px;
  color: white;

  @include mobile {
    margin-bottom: $spacing-2;
  }
}

.policy {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.policy a {
  font-size: 14px;
  color: white;

  @include mobile {
    font-size: 16px;
    margin-bottom: $spacing-2;
  }
}
