.store-info {
  display: flex;

  @include pad {
    flex-wrap: wrap;
  }
}

.store-info-item {
  margin-right: 24px;

  @include pad {
    display: flex;
    margin-bottom: $spacing-6;
    margin-right: 0px;
  }

  @include mobile {
    display: flex;
    flex-wrap: wrap; 
  }
}

.store-info-detail {
  border: 1px solid #00000020;
  padding: 8px 24px 16px 24px;
  max-width: calc(50% - 12px);

  @include mobile {
    max-width: 100%;
  }
}

.store-info-img {
  max-width: calc(50% - 12px);
  max-height: 224px;

  @include pad {
    margin-right: 24px;
  }

  @include mobile {
    max-width: 100%;
  }
}

.store-info-title {
  color: $font-black;
  font-size: 24px;
  padding: 8px 24px;
  font-weight: normal;
}

.store-info-content {
  color: $font-black;
  font-size: 20px;
  padding: 16px 24px;
  font-weight: normal;
  border-top: 1px solid $border;
}

.store-location {
  max-width: 100%;
  max-height: 414px;
}
