.store-info {
  display: flex;

  @include pad {
    flex-wrap: wrap;
  }

  @include mobile {
    flex-direction:column;
  }
}

.store-info-item {
  max-width: calc(40% - 12px);
  margin-right: 24px;

  @include pad {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-6;
    margin-right: 0px;
  }

  @include mobile {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap; 
  }
}

.store-info-detail {
  border: 1px solid #00000020;
  padding: 8px 24px 16px 24px;
  
  @include pad {
    max-width: calc(50% - 12px);
  }

  @include mobile {
    max-width: 100%;
  }
}

.store-info-img {
  max-width: 100%;
  aspect-ratio: 526/224;
  margin: 0;

  @include pad {
    max-width: calc(50% - 12px);
    margin-right: 24px;
  }

  @include mobile {
    max-width: 100%;
    margin: 0;
  }
}

.store-info-title {
  color: $font-black;
  font-size: 24px;
  padding: 8px 24px;
  font-weight: normal;
}

.store-info-content {
  max-width: 100%;
  color: $font-black;
  font-size: 20px;
  padding: 16px 24px;
  font-weight: normal;
  border-top: 1px solid $border;
}

.store-location {
  max-width: calc(54% - 12px);
  max-height: 414px;

  @include pad {
    max-width: 100%;
  }

  @include mobile {
    max-width: 100%;
  }
}
