.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: $spacing-3;
  padding-right: $spacing-3;

  @include pad {
    max-width: 720px;
    padding-left: $spacing-9;
    padding-right: $spacing-9;
  }

  @include mobile {
    margin: 0 0;
    max-width: 372px;
    padding-left: 14px;
    padding-right: 14px;
  }
}


// margin 
.mb-22 {
    margin-bottom: 22px;
}

.mr-48 {
  margin-right: $spacing-12;
}


// flex
.flex {
  display: flex;
}

